trigger:
- main

pool:
  name: agentdada

stages:
- stage: applicationbuild
  displayName: Application Build
  jobs:
  - job: applicationbuild
    displayName: Application Build
    steps:
    - task: NodeTool@0
      displayName: Install Node.js
      inputs:
        versionSpec: '16.x'
        checkLatest: true

    - task: Npm@1
      displayName: npm install
      inputs:
        command: install

    - task: Npm@1
      displayName: npm run build
      inputs:
        command: custom
        customCommand: run build

    - task: PublishBuildArtifacts@1
      displayName: Publish Build Artifacts
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
        ArtifactName: 'app-build-artifact'
        publishLocation: Container
